/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  color: #333;
}

a {
  color: #0077c0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Header styles */
header {
  background-color: #0077c0;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Section styles */
section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
  font-size: 24px;
  margin-top: 0;
}

/* Sites section */
.sites {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sites li {
  margin: 20px;
  width: calc(33.33% - 20px);
}

.sites img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

/* Hotels section */
.hotels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hotels li {
  margin: 20px;
  width: calc(33.33% - 20px);
}

.hotels h3 {
  font-size: 18px;
  margin-top: 0;
}

/* Restaurants section */
.restaurants {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.restaurants li {
  margin: 20px;
  width: calc(33.33% - 20px);
}

.restaurants h3 {
  font-size: 18px;
  margin-top: 0;
}

/* Transport section */
.transport {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.transport h3 {
  font-size: 18px;
  margin-top: 0;
}

.transport li {
  margin: 20px;
  width: calc(33.33% - 20px);
}

/* Button styles */
button {
  background-color: #0077c0;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #005c99;
}

/* Responsive design */
@media only screen and (max-width: 768px) {
 .sites li,.hotels li,.restaurants li,.transport li {
    width: calc(50% - 20px);
  }
}

@media only screen and (max-width: 480px) {
 .sites li,.hotels li,.restaurants li,.transport li {
    width: 100%;
  }
}